* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: rgba(40, 175, 232, 0.548);
}



.header {
    display: flex;
    justify-content: space-around;
    background-color: rgba(145, 145, 237, 0.3);
    flex-direction: row;
    height: 90px;
    align-items: center;
}

.header h1 {
    font-size: 50px;
}

.header div ul {
    list-style: none;
    display: flex;
    width: 600px;
    justify-content: space-evenly;
   
}

.header div ul li {
    display: inline-block;
    font-size: 25px;
}

.container {
    display: flex;
    justify-content:flex-end;
    flex-wrap: wrap;
    flex-direction: column;
    padding-top: 20px;
}


/* start of: targeting "about-me" div */
.container div.about-me{
    display: flex;
   flex-direction: row;
   justify-content: space-evenly;
}

.container .about-me img {
    height: 500px;
    width: 400px;
    border-radius: 50%;
    /* aspect-ratio: 1; */ 
    /* turn into a circle */
}

.container .about-me img,.flex-right-1 {
    display: inline-block;
}

/* TODO: bring in img selector here instead of up top */

.container .about-me p {
    font-size: 30px;
    width: 400px; 
    height: 500px; 
    padding-top: 100px;
}
/* end of: targeting "about-me: div */



/* start of: "work" div */
.container div.work{
    display: flex;
   flex-direction: row;
   justify-content: space-evenly;
   align-items: center;
   margin-top: 50px;
}

.container .about-me .flex-left-2,.flex-right-2-stack {
    display: inline-block;
}

div.flex-right-2-stack {
    display: flex; 
    flex-direction: row;
    flex-wrap: wrap;
    width: 700px;
    gap: 50px;
    justify-content: space-evenly;

}

/* .work .flex-right-2-stack .stack-1::after {
    content: "";
    width: 5550px;
    background-color: blue;
    width: 4px;
    display: block */
}

.container .work .flex-right-2-stack .stack-1 {
    background-color: white;
    width: 500px;
    display: flex;  
}

.container .work .flex-right-2-stack .stack-1 img{
    width: 500px;
    height: 300px;
    border: 10px solid black;
    display: block;
}

.container .work .flex-right-2-stack .stack-2,.stack-3 {
    display: inline-block;   
}

.container .work .flex-right-2-stack .stack-2 img,.stack-3 img {
    border: 5px solid black;
    
}
/* end of: "work" div  */

/* start of: "contact" div */
.container .contact {
    display: flex;
    justify-content: space-evenly;
    padding: 80px;
}

.container .contact h3 {
    font-size: 30px;
}

.container .contact ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 700px;

}

.container .contact ul li {
    font-size: 30px;
}

/* end of: "contact" div */