* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    /* background-color: rgba(40, 175, 232, 0.548); */
    background-color: rgb(0, 119, 182);
    font-size: 16px;
    min-height: 900px;
}

a:link {
    color: white;
}

a {
    text-decoration: none;
    color: white;
}

a:hover {
    color: red;
}

h2 {
    color: rgb(173, 232, 244);
    text-align: center;
    font-size: 1.75rem;
    margin-right: 40px;
   
}

.container .square1, .square2, .square3 {
    margin: 40px 0;
}

/* start of: heading section */
.header {
    display: flex;
    justify-content: space-around;
    /* background-color: rgba(3, 4, 94, .9); */
    background-color: rgb(2, 62, 138) ;
    flex-direction: row;
    min-height: 90px;
    align-items: center;
    margin-bottom: 30px;
    width: 100%;
}

.header h1 {
    font-size: 3rem;
    color: rgb(249, 244, 244);
    width: 60%;
    text-align: center;
}

.header div {
    list-style: none;
    display: flex;;
    justify-content: space-evenly;
    width: 40%;
}

.header div nav {
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}

.header div nav ul{
    display: flex;
    justify-content:space-evenly;
    width: 100%;
}

.header div ul li {
    display: inline-block;
    font-size: 20px;
   
}

/* end of: header section> */

.container {
    display: flex;
    flex-direction: column;
    height: 100%;
}

/* end of: container section */

/* start of: row1 */

.container .square1 {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    min-height: 500px;
}

.container .square1 img {
    border-radius: 50%;
    max-width: 900%;
    border: 4px solid white;
}

.container .square1 p {
    color: rgb(202, 240, 248);
    height: 200px;
    max-width: 40%;
    margin: 20px;
}

/* end of: row1 */


/* start of: row 2 */

.container .square2 {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 70px;
}

.container .square2 .left{
    width: 20%;
}

.box {
    display: flex;
    flex-wrap: wrap-reverse;
    justify-content: space-evenly;
    align-items: center;
    gap: 60px;
    width: 60%;
    max-width: 90%;
    border-left: 1px double white;
}

#top {
    width: 100%;
    flex: 2 1 0px ;
}

.bottom {
    width: 80%;
    flex: 1 0 0px;
}

/* flex for 3 images stacked with one on top */
.stack-1 img, .stack-2 img, .stack-3 img{
    border-radius: 5%;
    border: 9px double white;
}

.box img:hover {
    background-color: red;
}

.box img:active {
    z-index: 2;
    width: 400px;
    height: 400px;
}

.box figcaption {
    border: 3px solid rgb(3, 4, 94); 
    position: relative;
    background-color: rgba(0, 150, 199, 0.5);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: whitesmoke;
}

 .box .stack-1 figcaption, .stack-2 figcaption { 
    bottom: 35px;
    width: 50%;
    left: 8px;
}


.box .stack-3 figcaption {
    bottom: 41px;
    left: 15px;
    width: 30%;
} 

/* end of: row 2 */


/* start of: row3 */
.container .square3 {
    display: flex;   
    justify-content: space-evenly;
    align-items: center;
    padding: 50px 0;
}

.container .square3 .contact {
    width: 20%;
}


.container .square3 .links  {
    width: 60%;
}

.links {
    display: flex;
    justify-content:space-around;
    align-items: center;
    width: 100%;
    border-left: 1px solid white;
}

.links ul {
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}

.links ul li{
    display: inline;
}

.links .mail, .github, .linked {
    max-width: 30px;
}



.links .mail {
    position: relative;
    top: 7px;
}


@media (min-width: 1000px) and (max-width: 3000px) {
    .container .square1 p {
        font-size: 2rem;
    }

}

@media (min-width: 1000px) and (max-width: 1285px) {
    .container .square2 {
        margin-top: 100px;
    } 
}

@media (min-width: 586px) and (max-width: 1000px) {
    .container .square1 p {
        font-size: 1.2rem;
    }
}

@media screen and (max-width: 1500px) {
    .container .square1 .bio {
        height: 100%;
    }
}   

@media screen and (max-width: 855px) {
    .header {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
     }

    .header h1 {
        font-size: 2rem;
        margin: 5px;
    }

     .header div {
        width: 100%;
     }

     .header div nav {
        width: 100%;
    }
  }
  
  @media screen and (max-width: 788px){

    h2 {
        text-align: center;
        border-bottom: 2px solid white;
        border-bottom-style: groove;
        width: 100%;
    }

    .container .square2 .box, .square3 .links {
        border-left: none;
        
    }
   
    .square2 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

      }

      .container .square2 .left {
        width: 100%;
        margin-bottom: 20px;
      }  

      .container .square2 .box {
        padding-left: 30px;
      }
   
    .container .square3 {
        min-height: 270px;
        display: flex;
        flex-direction: column;
    }

    .container .square3 .contact {
        color: white;
        width: 100%;
        text-align: center;
    
    }

    .container .square3 .links  {
        width: 100%;
        height: 200px;
    }

    .container .square3 .links ul {
        text-align: center;
    }


    .container .square3 .links .options li {
        display: block;
    }


  }
  
  @media screen and (max-width: 665px) {
      /* .square2 {
        display: flex;
        flex-direction: column;
        justify-content: center;
      }

      .container .square2 .left {
        width: 100%;
        margin-bottom: 20px;
      }   */
  }
  
  @media screen and (max-width: 585px) {
    .container .square1 {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        min-height: 500px;
    }
    .container .square1 p {
        color: white;
        max-height: 200px;
        min-width: 90%;
        margin: 20px;
    }

}